<div class="ereignisse">
  <table>
    <thead>
      <tr>
        <th>Tag</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= verfugbarkeit.status %> <br/>
          von: <%= verfugbarkeit.start %> <br/>
          bis: <%= verfugbarkeit.ende %>
        </td>
      </tr>
    </tbody>
  </table>
</div>