<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= event.summary %> von <%= event.start.date_time %> bis <%= event.end.date_time %>
      </td>
    </tr>
  </tbody>
</table>