<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= verfugbarkeit.tag.strftime("%d.%m - %Y") %></td>
    </tr>
    <% verfugbarkeit.buchungs.each do |buchung| %>
      <tr>
        <td>
          <%= buchung.status %> von <%= buchung.start.strftime("%H:%M") %> bis <%= buchung.ende.strftime("%H:%M") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>