<div class="ereignisse">
  <table>
    <thead>
      <tr>
        <th colspan = "2"><%= verfugbarkeit.status %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          von: <%= verfugbarkeit.start %> <br/>
          bis: <%= verfugbarkeit.ende %>
        </td>
        <td>
          <%= check_box_tag("verf_id[]", verfugbarkeit.id) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>