<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= verfugbarkeit.tag.strftime("%d.%m - %Y") %></td>
    </tr>
    <% verfugbarkeit.buchungs.each do |buchung| %>
      <tr>
        <td>
          <%= buchung.status %> von <%= format_date_to_hh_mm(buchung.start) %> bis <%= format_date_to_hh_mm(buchung.ende) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>