<h1>PrinziCal#index</h1>
<p>Find me in app/views/prinzi_cal/index.html.erb</p>
<% if notice %>
  <p id = "notice"><%= notice %></p>
<% end %>
<table width="80%" height="90%">
  <tbody>
    <tr>
      <td><%= button_to 'Erzeuge Buchung', new_buchung_prinzi_path, action: "create", method: :get %></td>
    </tr>
    <tr>
      <td>
        <div class="ereignis_frame">
          <% @verfugbarkeits.each do |verfugbarkeit| %>
            <%= render partial: "ereigniss_liste", locals: { verfugbarkeit: verfugbarkeit } %>
          <% end %>
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>