<h1>PrinziCal#index</h1>
<p>Find me in app/views/prinzi_cal/index.html.erb</p>
<p> Uhrzeit: <%= Time.zone %>: <%= Time.zone.now %>
  <table width="80%" height="90%">
    <tbody>
      <tr>
        <td><%= button_to 'Erzeuge Buchung', new_buchung_path, action: "create", method: :get %></td>
      </tr>
      <tr>
        <td>
          <div class="ereignis_frame">
            <% @verfugbarkeits.each do |verfugbarkeit| %>
              <%= render partial: "ereigniss_liste", locals: { verfugbarkeit: verfugbarkeit } %>
            <% end %>
          </div>
        </td>
        <td><iframe src="https://calendar.google.com/calendar/embed?src=v0snmr43tpv6tlnpknn46g72tc%40group.calendar.google.com&ctz=Europe%2FBucharest" style="border: 0" width="600" height="400" frameborder="0" scrolling="no"></iframe></td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>