<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @verfugbarkeit.tag %>
</p>

<%= link_to 'Edit', edit_verfugbarkeit_path(@verfugbarkeit) %> |
<%= link_to 'Back', verfugbarkeits_path %>
