// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adminwoche {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  .navi_zur端ck {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: left;
  }
  .navi_vor {
    grid-column-start: 6;
    grid-column-end: 9;
    text-align: right;
  }
  .titel {
  	border: 0.5px solid black;
  	text-align: center;
  }
  .verf端gbarkeit {
  	border: 0.5px solid black;

      .verf端gbar {
        color: green;
      }
       .verf端gbar_buchung {
        color: green;
        background-color: yellow;
      }
      .abwesend {
        color: red;
      }
      .fragen {
        color: grey;
      }
  }
  .person {
  	border: 0.5px solid black
  }
}